body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: url('/static/Flight_image.jpg') no-repeat center center/cover;
    height: 100vh;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(8, 18, 40, 0.55);
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.form-container {
    position: relative;
    width: 350px;
    margin: 110px auto;
    padding: 25px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 20px rgba(0,0,0,0.35);
    text-align: center;
    color: white;
}

.form-container h2 {
    margin-bottom: 18px;
    font-size: 28px;
    font-weight: 600;
}

input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.85);
}

button {
    margin-top: 12px;
    width: 95%;
    padding: 12px;
    background: #ffca3a;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #e6b330;
}

p {
    margin-top: 12px;
    font-size: 14px;
}

p a {
    color: #ffca3a;
    font-weight: 600;
    text-decoration: none;
}

.a1 {
    color: #ffca3a;
    font-weight: 550;
    padding-left: 200px;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.a1:hover {
    text-decoration: underline;
}

/* Flash Message Style */
.flash-message {
    position: relative;
    width: 350px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    animation: fadeInOut 3s ease forwards;
}

.flash-success { background: #d4edda; color: #155724; }
.flash-danger { background: #f8d7da; color: #721c24; }

@keyframes fadeInOut {
            0% { opacity: 0; transform: translate(-50%, -20px); }
            10% { opacity: 1; transform: translate(-50%, 0); }
            90% { opacity: 1; transform: translate(-50%, 0); }
            100% { opacity: 0; transform: translate(-50%, -20px); }
        }