<!DOCTYPE html>
<html>
<head>
    <title>Ticket Booking</title>
    <link rel="stylesheet" href="/static/booking.css">
</head>
<body>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="form-container">
        <h2>✈ Flight Ticket Booking</h2>

        <form method="POST">

            <input type="text" name="passenger_name" placeholder="Enter Passenger Name" required>
            <input type="number" name="Age" placeholder="Enter Age" required>
            <input type="text" name="Gender" placeholder="Gender" required>
            <input type="text" name="Date" placeholder="DD/MM/YYYY" required>
            <button type="submit">✅ Save Booking</button>

        </form>

        <a href="{{url_for('dashboard')}}" class="back-btn">⬅ Back to Dashboard</a>
    </div>

</body>
</html>
