<!DOCTYPE html>
<html>
<head>
    <title>Search Flights</title>
    <link rel="stylesheet" href="/static/Flight_search.css">
</head>
<body>

<div class="search-container">
    <h2>✈ Search Available Flights</h2>

    <form method="POST" action="/flight_results">

        <label>Departure</label>
        <select name="Departure" required>
            <option value="" disabled selected>Select Departure Airport</option>

            <optgroup label="India">
                <option value="Chennai (MAA)">Chennai (MAA)</option>
                <option value="Bangalore (BLR)">Bangalore (BLR)</option>
                <option value="Hyderabad (HYD)">Hyderabad (HYD)</option>
                <option value="Mumbai (BOM)">Mumbai (BOM)</option>
                <option value="Delhi (DEL)">Delhi (DEL)</option>
                <option value="Kolkata (CCU)">Kolkata (CCU)</option>
                <option value="Kochi (COK)">Kochi (COK)</option>
                <option value="Goa (GOX)">Goa (GOX)</option>
            </optgroup>

            <optgroup label="International">
                <option value="Dubai (DXB)">Dubai (DXB)</option>
                <option value="Singapore (SIN)">Singapore (SIN)</option>
                <option value="London (LHR)">London (LHR)</option>
                <option value="Paris (CDG)">Paris (CDG)</option>
                <option value="Frankfurt (FRA)">Frankfurt (FRA)</option>
                <option value="Sydney (SYD)">Sydney (SYD)</option>
                <option value="Toronto (YYZ)">Toronto (YYZ)</option>
                <option value="Doha (DOH)">Doha (DOH)</option>
                <option value="Riyadh (RUH)">Riyadh (RUH)</option>
            </optgroup>
        </select>


        <label>Destination</label>
        <select name="Destination" required>
            <option value="" disabled selected>Select Destination Airport</option>

            <optgroup label="India">
                <option value="Chennai (MAA)">Chennai (MAA)</option>
                <option value="Bangalore (BLR)">Bangalore (BLR)</option>
                <option value="Hyderabad (HYD)">Hyderabad (HYD)</option>
                <option value="Mumbai (BOM)">Mumbai (BOM)</option>
                <option value="Delhi (DEL)">Delhi (DEL)</option>
                <option value="Kolkata (CCU)">Kolkata (CCU)</option>
                <option value="Kochi (COK)">Kochi (COK)</option>
                <option value="Goa (GOX)">Goa (GOX)</option>
            </optgroup>

            <optgroup label="International">
                <option value="Dubai (DXB)">Dubai (DXB)</option>
                <option value="Singapore (SIN)">Singapore (SIN)</option>
                <option value="London (LHR)">London (LHR)</option>
                <option value="Paris (CDG)">Paris (CDG)</option>
                <option value="Frankfurt (FRA)">Frankfurt (FRA)</option>
                <option value="Sydney (SYD)">Sydney (SYD)</option>
                <option value="Toronto (YYZ)">Toronto (YYZ)</option>
                <option value="Doha (DOH)">Doha (DOH)</option>
                <option value="Riyadh (RUH)">Riyadh (RUH)</option>
            </optgroup>
        </select>

        <button type="submit" class="search-btn">🔍 Search Flights</button>
    </form>

    <a href="{{url_for('dashboard')}}" class="back-btn">⬅ Back</a>
</div>

</body>
</html>
