<!DOCTYPE html>
<html>
<head>
    <title>❓🔑 Change Password</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message flash-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="form-container">
        <h2>Change Password</h2>
        <form method="POST" action="/forget_password">
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="password" name="con_password" placeholder="Confirm Password" required>
            <button type="submit">Change Password</button>
        </form>
        <a href="{{url_for('login')}}" class="back-btn">⬅ Back</a>
    </div>
</body>
</html>
