<!DOCTYPE html>
<html>
<head>
    <title>Register | Flight Booking</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="form-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h2>Create Account</h2>
        <form method="POST" action="/forget_password">
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="password" name="password" placeholder="Confirm Password" required>
            <button type="submit">Change Password</button>
        </form>
    </div>
</body>
</html>
