<!DOCTYPE html>
<html>
<head>
    <title>Login | Flight Booking</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="overlay"></div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message flash-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="form-container">
    <h2>✈ Login</h2>
    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <a href="{{url_for('forget_password')}}">Forget Password</a>
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
</div>

</body>
</html>
