<!DOCTYPE html>
<html>
<head>
    <title>✏️✈️ Updating Ticket</title>
    <link rel="stylesheet" href="/static/update.css">
</head>
<body>

<div class="overlay"></div>

<div class="form-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>✈ Update Flight Ticket</h2>

    <form method="POST">
        <input type="text" name="passenger_name" placeholder="Passenger Name" required>
        <input type="number" name="Age" placeholder="Age" required>

        <select name="Gender" required>
            <option value="" disabled selected>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>

        <button type="submit" class="btn-update">Update Ticket</button>
    </form>

    <a href="{{url_for('dashboard')}}" class="back-btn">← Back to Dashboard</a>
</div>

</body>
</html>
